<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SecurePasswords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SecurePasswords.Properties.Settings>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="item_lb_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="item_lb_name" serializeAs="String">
                <value />
            </setting>
            <setting name="click" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="id_resource" serializeAs="String">
                <value />
            </setting>
            <setting name="date_count" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="table_null" serializeAs="String">
                <value>False</value>
            </setting>
        </SecurePasswords.Properties.Settings>
    </userSettings>
</configuration>